@import url('https://fonts.googleapis.com/css2?family=poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: rgb(238, 241, 241);
}
.genres{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 220px;
    text-decoration: none;
    list-style: none;
}
li{
    color: rgb(26, 25, 25);
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: x-large;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    display: flex;
    padding: 7px;
    display: flexbox;
}
li:hover{
    color: green;
    transition: all 0.3s ease;
}
li:visited{
    color: blue;
}
li:active{
    color: blue;
}
h2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    top: 140px;
}
.menu{
    background: black;
    height: 55px;
    top: 0px;
    position: fixed;
    width: 100%;

}
img{
    top: -1000px;
    max-width: 4%;
    color: white;
}
img:hover{
 background-color: transparent;
}
#preloader{
    background: rgb(247, 245, 245) url(book.gif) no-repeat center center;
    background-size: n;
    height: 100vh;
    width: 100%;  
    position: fixed;
    z-index: 100;
}
